*{
	padding: 0;
	margin: 0;
}
#navbar1{
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	margin-top: 4%;
	height: 400px;
}
.da-arrows span {
	position: absolute;
	top: 60%;
}
.da-dots span.da-dots-current:after{
	content: '';
	background: #b6124a;
}
.da-slide button{
	margin-top: 230px;
	margin-left: 110px;
	padding: 15px;
	border: none;
	background-color: #f6c427;
	color: #fff;
	border-radius: 20px;
	animation: mover 1s infinite alternate;
	cursor: pointer;
}
@keyframes mover{
	0%{transform: translateY(0);}
	100%{transform: translateY(-20px);}
}
#bslide{
	background-color: #2d251a;
}
#bslide .col-md-4{
	color: #fff;
	font: 12px "Segoe UI" , Tahoma, Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
	padding:  15px;
}
.middle{
	color: #fff;
	font: 12px "Segoe UI" , Tahoma, Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
	padding:  15px;
	background-color: #403523;
}
#bslide .col-md-4 i{
	font-size: 40px;
	padding: 10px;
	color: #f6c427;
}
#describe{
	background-image: linear-gradient(#f6c427, #ecb540);
	padding-bottom: 50px;
}
#describe .col-md-4{
	background-color: #484848;
	margin-left: 44px;
	margin-top: 40px;
	padding-bottom: 20px;
}
#describe .col-md-4 h3{
	color: #f6c427;
	font: 20px "Segoe UI" , Tahoma, Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
	font-weight: 600;
}
#describe .col-md-4 .green{
	color: #80bf88;
	font-weight: 600;
}
#describe .col-md-4 p{
	color: #fff;
	font: 12px "Segoe UI" , Tahoma, Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;

}
.btn1{
	padding: 10px;
	background-color: #f6c427;
	border: none;
	margin-top: 20px;
}
.btn2{
	padding: 10px;
	background-color: #80bf88;
	border: none;
	color: #fff;
	margin-top: 20px;
}
.btn1:hover{
		transform: rotate(10deg);
		transition: 0.5s;
}
.btn2:hover{
		transform: rotate(10deg);
		transition: 0.5s;

}
#recent{
	background-color:  #2d251a;
	padding: 40px;
}
.img-project{
	width: 230px;
	height: 210px;
}
.head{
	color: #fff;
	font: 20px "Segoe UI" , Tahoma, Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
	font-weight: 600;
}
#recent .col-md-3 h3{
	color: #f6c427;
	font: 20px "Segoe UI" , Tahoma, Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
}
#recent .col-md-3 p{
	color: #fff;
	font: 12px "Segoe UI" , Tahoma, Verdana, Tahoma, Arial, "Helvetica Neue" , Helvetica, Sans-Serif;
}
#footer{
	background-color: #f6c427;
	padding: 10px;
	text-align: center;
	font-weight: 600;
}